@model MvcApplication4.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Note</legend>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">Lat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lat)
    </div>

    <div class="display-label">Lng</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lng)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NoteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
